<configuration>
	<connectionStrings>
		<add name ="conn1" connectionString="loaclhost:3306|userName=LHY|password=123.com" providerName="MySQL"/>
		<add name ="conn2" connectionString="loaclhost:13306|userName=LHY2|password=123.com2" providerName="SqlServer"/>
	</connectionStrings>	
<appSettings>
	<add key="Config:name" value="zhy"/>
	<add key="Config:age"  value="20"/>
	<add key="Config:proxy.address" value="HeiLongJiang"/>
	<add key="Config:proxy:port" value="333"/>
	<add key="Config:proxy.ids.0" value="6666"/>
    <add key="Config:proxy:ids:1" value="1666"/>
</appSettings>
</configuration>